:root {
  /* Colours */
  --color-bg: light-dark(#FCEB94, #1b1b1b); /* page background */

  /* Header */
  --color-head-bg: light-dark(#FF4B00, #b33a00);

  /* Logotype */
  --color-logotype-bg: light-dark(#fffae2, #2a2a2a);
  --color-text-logotype: light-dark(#fffae2, #ffffff);
  --font-logotype-size: 2rem;

  /* Global menu */
 --color-menu-bg: light-dark(#6f90eb, #3b4a7a);

  /* Links */
  --color-link-bg: light-dark(#fffae2, #fffae2);
  --color-link-hover: light-dark(#ffa680, #ffa680);
  --color-link-active: light-dark(#99958f, #6a6a6a);
  --border-radius-links: 20px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: --font-weight-bold 2rem;
  --color-headline-bg: light-dark(#000000, #e0e0e0);
  --color-headline-text-page: light-dark(#fffae2, #0d0d0d);

  /* Tekst */
  --color-text: light-dark(#000000, #232222);
  --color-text-inverted: light-dark(#ffffff, #1a1a1a);
  
  /*  Marginer */
  --margin-head-bottom: 15px;

  /* Borders */
  --border-radius: 20px;

  /* Cards */
  --color-card-bg: #ffff;
  --color-cta-card-bg: #ff4b00;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #ffa680;
  --color-cta-newscard-bg-inverted: #6F90EB;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; 

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #fff;
  --color-infobox-1-bg: #fceb94;
  --color-infobox-2-bg: #Def5db;
  --underoverskrift-color: light-dark(#000000, #ffffff);

/* FORM COLORS */
  --form-bg: light-dark(#f9d385, #ff4b00);
  --form-border: light-dark(#000000, #bbbbbb);
  --form-label: light-dark(#000000, #ffffff);
  --form-input-bg: light-dark(#ffffff, #ffffff);
  --form-input-text: light-dark(#000000, #ffffff);
  --form-summary-bg: light-dark(#f9d385, #ff4b00);
}


html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}
