[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background: rgb(10, 10, 10);

  /* lys i light mode, mørk i dark mode */
  background: light-dark(#ffffff, rgb(10, 10, 10));
  color: light-dark(#000000, #ffffff);
}

[popover]::backdrop {
  backdrop-filter: blur(8px);
}


a img {
  height: 60px;
  width: auto;
}

#sirene {
  width: 120px;   
  height: auto;   
}