[popover] {
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  background: white;
}

[popover]::backdrop {
  backdrop-filter: blur(8px);
}


a img {
  height: 60px;
  width: auto;
}

#sirene {
  width: 120px;   
  height: auto;   
}